
# User-specific stuff
.idea/
*.iml
**/dependency-reduced-pom.xml
**/local.gradle.kts

# Test Sources
**/src/test

# Compiled files
**/out
**/target
**/build
*.class
*.jar
.gradle/

# Gradle wrapper jar must be tracked
!gradle/wrapper/gradle-wrapper.jar
